.App {
    text-align: center;
    margin-top: 50px;
}

.form {
    display: inline-block; /* Keep form elements inline */
    text-align: left;
    margin-top: 20px;
}

.div {
    margin-bottom: 15px;
}

.label {
    margin-right: 10px;
    font-weight: bold;
}

.input {
    padding: 8px;
    font-size: 16px;
    width: 200px;
    box-sizing: border-box;
    margin: 5px;
}

input::placeholder {
    color: #666;
}

.button {
    border-right: 4px;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

.p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
.greeting-message {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
